@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html,
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.btn-linear-gradient {
  background: linear-gradient(90deg, #cd6028 0%, #3e6eb4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linear-gradient {
  background: linear-gradient(90deg, #cd6028 0%, #3e6eb4 100%);
}

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 24px;
}

.embla__slide {
  flex: 0 0 33.333%;
}
